<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LocusWalletExperimentalMainnetEnabled</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>LocusWalletCapabilityPublicKey</key>
    <string>$(LOCUS_WALLET_CAPABILITY_PUBLIC_KEY)</string>
    <key>LocusWalletCapabilityManifestBase64</key>
    <string>$(LOCUS_WALLET_CAPABILITY_MANIFEST_BASE64)</string>
    <key>LocusWalletReviewManifestBase64</key>
    <string>$(LOCUS_WALLET_REVIEW_MANIFEST_BASE64)</string>
    <key>LocusWalletReviewCeilingBase64</key>
    <string>$(LOCUS_WALLET_REVIEW_CEILING_BASE64)</string>
    <key>LocusSourceRevision</key>
    <string>$(LOCUS_SOURCE_REVISION)</string>
    <key>XPCService</key>
    <dict>
        <key>ServiceType</key>
        <string>Application</string>
    </dict>
</dict>
</plist>
